h1 {
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding: 0 0 8px;
}

h3 {
  font-size: 18px;
  margin: 0;
  padding: 0 0 6px;
}

.descriptionContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  max-width: 350px;
}

p {
  margin: 0;
  font-size: 16px;
}

b {
  font-size: 16px;
  font-weight: 600;
}

.coordsContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  max-width: 305px;
}